{% extends "base_generic.html" %}

{% block content %}
     <p>Hola, la url esta funcionando!!!</p>
     <h1>Nombre de Cliente: {{ data.nombre }}</h1>
     <h1>Apellido: {{ data.apellido }}</h1>
     <h1>DNI: {{ data.dni }}</h1>

    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
    <button type="button" class="btn btn-outline-success">Success</button>
    <button type="button" class="btn btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-info">Info</button>
    <button type="button" class="btn btn-outline-light">Light</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>

{% endblock %}
