{% extends "base_generic.html" %}

{% block content %}

     <p>La URL de CLIENTES esta funcionando!!!!</p>
     {% comment %} <p>Hola, la url esta funcionando!!!</p>
     <h1>Nombre de Cliente: {{ data.nombre }}</h1>
     <h1>Apellido: {{ data.apellido }}</h1>
     <h1>DNI: {{ data.dni }}</h1>{% endcomment %}

    {% for clientes in data %}
        <li>
            <p><strong>Nombre de cliente:</strong> {{ clientes.nombre }}</p>
            <p><strong>Edad: </strong> {{ clientes.edad }}</p>
            <p><strong>Apellido:</strong> {{ clientes.apellido }}</p>
            <p><strong>DNI: </strong> {{ clientes.dni }}</p>
            <p><strong>Procedencia: </strong> {{ clientes.procedencia }}</p>
        </li>
    {% endfor %}
{% endblock %}
